*,
*::before,
*::after {
  box-sizing: border-box;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h2,
h3,
h4 {
  text-align: center;
}

p {
  color: rgba(0, 0, 0, 0.548);
  line-height: 150%;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "treeFont";
  src: url(/tenderleaf/Pinewood.ttf);
  font-style: bold;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1span {
  font-family: treeFont;
  color: rgb(94, 138, 28);

}


/* navigation goes here */
.burger-menu {
  position: fixed;
  height: 3px;
  width: 27px;
  background: rgb(94, 138, 28);
  top: 5%;
  left: 87%;
  z-index: 1;
  animation: lineSizing2 1s alternate infinite;
  animation-delay: 1s;
}

.burger-menu::before {
  content: "";
  height: 3px;
  width: 35px;
  background: darkolivegreen;
  position: absolute;
  top: -200%;
  background: rgb(94, 138, 28);
  z-index: 1;
  animation: lineSizing 1s alternate infinite;
  animation-delay: .5s;



}

.burger-menu::after {
  content: "";
  height: 3px;
  width: 18px;
  background: darkolivegreen;
  position: absolute;
  bottom: -200%;
  background: rgb(94, 138, 28);
  z-index: 1;
  animation: lineSizing2 1s alternate infinite;

}

.burgerWrapper {
  height: 40px;
  width: 60px;
  position: fixed;
  top: 3%;
  left: 83%;
  z-index: 2;
  cursor: pointer;
}

@keyframes lineSizing {

  from {
    width: 27px;
  }

  to {
    width: 35px;
  }
}

@keyframes lineSizing2 {

  from {
    width: 18px;
  }

  to {
    width: 27px;
  }
}

nav a {
  text-decoration: none;
  list-style: none;
  color: white;
}

nav li {
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
  display: none;
  background: #f5f6f4;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/images/romantictree.svg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}


nav li {
  margin: 2em 0em;
  background: #3f3d56;
  padding: 1em;
}

.toggler {
  display: block;
}

.logo {
  font-size: 1.6rem;
  margin-top: 1em;
  margin-left: 1em;
}

.logo span {
  font-family: treeFont;
  color: rgb(94, 138, 28);
}

/* Landing screen content */


.container {
  display: flex;
  flex-direction: column;
  margin: 1em 1.5em;
  justify-content: center;
  align-items: center;
}

.container button {
  background-color: rgb(94, 138, 28);
  color: rgba(255, 255, 255, 0.911);
  padding: .5em 1em;
  margin: 1em;
  margin-top: 1em;
  margin-left: 0;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.findingYourself {
  display: flex;
  flex-direction: column;
  margin: 1em 1.4em;
  justify-content: center;
  align-items: center;

}

.benefits {
  display: flex;
  flex-direction: column;
  margin: 1em 1.4em;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #9caa95, #ffb8b8);
  padding: 2em;
  border-radius: 20px;


}

.benefitWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.imgcontainer {
  background: url(images/freshair.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin-top: 1em;
}

.imgcontainer2 {

  background: url(images/fishing.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin-top: 1em;
}

.imgcontainer3 {
  background: url(images/planting.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin-top: 1em;
}

.benefitBox1,
.benefitBox2,
.benefitBox3 {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #f5f6f4;
  border-radius: 20px;
  padding: 1em .5em;
  text-align: center;
}

/* desktop Version here */
@media screen and (min-width: 700px) {
  .logo {
    font-size: 3rem;
    margin-top: .3em;
    margin-left: .5em;
  }

  /*Mobile  Navigation goes here */
  .burger-menu {
    display: none;
  }

  nav {
    display: block;
    position: relative;
    width: auto;

  }

  nav ul {
    background: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  nav li {
    margin: 0em 2em;
    background: none;
  }

  nav a,
  nav li {
    color: #3f3d56ad;

  }

  nav a:hover {
    color: #3f3d56;
  }




  .container {
    flex-direction: row;
  }

  .container p {
    max-width: 70ch;
  }

  .findingYourself {
    flex-direction: row-reverse;
  }

  .findingYourself p {
    max-width: 70ch;
  }

  img {
    max-width: 40%;
  }

}